In [10]:
#Create a function that takes a boolean variable flag and returns it as a string.
#Examples
#bool_to_string(True) ➞ "True"

#bool_to_string(False) ➞ "False"
def bool_to_string (flag):
    return(str(flag))
((bool_to_string(True)))
(bool_to_string(False))

'False'

In [6]:
(bool_to_string(False))

In [1]:
#Create a function that returns True when num1 is equal to num2; otherwise return False.
#Examples
#is_same_num(4, 8) ➞ False

#is_same_num(2, 2) ➞  True

#is_same_num(2, "2") ➞ False
def f(num1,num2):
    if (num1==num2):
        return(True)
    else:
        return(False)

In [2]:
f(2,3)

False

In [ ]:
import random
person1=0
person2=0
while True :

    num1=random.choice([1,2,3,4,5,6])
    num2=random.choice([1,2,3,4,5,6])
    if num1==6:
          person1==1
          
    elif num2==6:
        person2==1

In [7]:
person1=random.choice[1,2,3,4,5,6]

TypeError: 'method' object is not subscriptable

In [4]:
def AND(x,y):
    if x==1 and y==1:
        return 1
    else:
        return 0

def OR(x,y):
    if x==1 or y==1:
        return 1
    else:
        return 0
def NOT(x):
    if x==1:
        return 0
    elif x==0:
        return 1

In [5]:
AND(1, 1)

1

In [6]:
AND(0, 0)

0

In [9]:
def string_int(txt):
    return(int(txt))
string_int("6")
string_int("1000")
string_int("12")

12

In [13]:
def is_same_num(num1, num2):
    if (num1==num2):
        return (True)
    else:
        return(False)
is_same_num(4, 8) 
is_same_num(2, 2) 
is_same_num(2, "2")

False

In [16]:
def less_than_or_equal_to_zero(num):
    if num<=0:
        return(True)
    else:
        return(False)
less_than_or_equal_to_zero(5) 
less_than_or_equal_to_zero(-2)
less_than_or_equal_to_zero(0)
less_than_or_equal_to_zero(5)

False

In [26]:
def greeting(name):
    if name == "Mubashir":
        return "Hello, my Love!"
    else:
        return ("Hello, " + name + "!")

In [28]:
greeting("Matt")
greeting("Helen")
greeting("Mubashir")

'Hello, Helen!'

In [44]:
def makes10(a, b):
    if int(a)+int(b)==10:
        return (True)
   
    elif int(a)==10 or int(b)==10:
        return (True)
    else:
        return (False)

In [47]:
makes10(9, 10)

makes10(9, 9) 

makes10(1, 9)

True

In [51]:
def profitable_gamble(prob, prize, pay):
    if prob * prize > pay:
        return (True)
    else:
        return (False)

In [54]:
profitable_gamble(0.2,50,9) 
profitable_gamble(0.9,1,2)
profitable_gamble(0.9,3,2)

True

False

In [62]:
def comp(txt1, txt2):
    if len (str(txt1))==len(str(txt2)):
        return (True)

    
    else:
        return (False)
comp("AB","CD")

True

In [58]:
comp("AB", "CD") 
comp("ABC", "DE") 
comp("hello", "edabit")

False

In [64]:
def odd_or_even(word):
    if len(str(word))%2==0:
        return (True)
    else:
        return (False)
odd_or_even("apples")
odd_or_even("pears")
odd_or_even("cherry")

True

In [65]:
odd_or_even("pears")

False

In [66]:
odd_or_even("cherry")

True

In [72]:
def front3(txt):
    front=(str(txt)[0:3])
    return (front*3)
front3("Python")
front3("bioshock")

In [73]:
def isEvenOrOdd(num):

'PytPytPyt'

'CucCucCuc'

In [2]:
#7 Create a function that takes an integer and returns True if it's divisible by 100, otherwise return False.
def divisible(num):
    if num%100==0:
        return True
    else:
        return False
divisible(1)

False

In [3]:
#16 A bartender is writing a simple program to determine whether he should serve drinks to someone. 
#He only serves drinks to people 18 and older and when he's not on break.Given the person's age, 
#and whether break time is in session, create a function which returns whether he should serve drinks.

def should_serve_drinks(age, on_break):
    
    if on_break==True:
        return False
    else:
        if age>=18:
             return True
        else:
            return False
should_serve_drinks(17, True)

False

In [12]:
def parity(n):
    remander = bool(n % 2==0)
    if remander == False:
        return "even"
    if remainder == True:
        return "odd"

In [13]:
parity (5)

'even'

In [15]:
def determine_lever(l):
    if l==['e','f','l']:
        return "first class lever"
    elif l==['e','l','f']:
        return "second class lever"
    elif l==['f','e','l']:
        return "third class lever"

In [16]:
determine_lever(["e", "f", "l"])

'first class lever'

In [17]:
determine_lever(["e", "f", "l"]) 
determine_lever(["e", "l", "f"]) 
determine_lever(["f", "e", "l"])

'third class lever'

In [18]:
#The person is at least 15 years old.
#They have parental supervision.
def accept_into_movie(age, is_supervised):
    if age>=15 or is_supervised==True:
        return True
    else:
        return False

In [22]:
accept_into_movie(14, False)
accept_into_movie(14, True)
accept_into_movie(16, False)

True

In [48]:
def repeat_string(txt, n):
    if str(txt)==True:
        return (str(txt)*n)
    else :
        return "not a string !!"
#repeat_string("Mubashir", 2) ➞ "MubashirMubashir"

#repeat_string("Matt", 3) ➞ "MattMattMatt"

#repeat_string(1990, 7) ➞ "Not A String !!"
repeat_string(1990, 7)

'not a string !!'

In [57]:
def journey_distance(n):
# The first kilometer costs $3
    if n<=3:
        return 1
    else:
        p=n-3
        q=p//2
        return 1+q
journey_distance(5)
#journey_distance(3) ➞ 1
# The first kilometer costs $3
#journey_distance(9) ➞ 4
# The first kilometer costs $3 plus the other three kilometers (costing $2 each)
#journey_distance(5) ➞ 2

2

In [63]:
def word(s):
    name={"one":1,
       "two":2,
       "three":3,
       "four":4,
       "five":5,
       "six":6,
       "seven":7,
       "eight":8,
       "nine":9,
       "zero":0 }
    return name[s]          
word("one")
word("two")
word("nine")

9

In [25]:
def yeah_nope(b):
    is_nice = False
#    state = "nice" if is_nice else "not nice"
    state="yeah" if is_nice else "nope"
    if is_nice:
        state = "yeah"
        return state
    else:
        state = "not nice"
        return state

In [26]:
yeah_nope(True)
yeah_nope(False)

'not nice'

In [1]:
#Try finding your ancestors and offspring with code.

#Create a function that takes a number x and a character y ("m" for male, "f" for female), and returns the name of an ancestor (m/f) or descendant (m/f).

#If the number is negative, return the related ancestor.
#If positive, return the related descendant.
#You are generation 0. In the case of 0 (male or female), return "me!".
def generation(x, y):
    g = {
        -3: {
            "m": "great grandfather",
            "f": "great grandmother",
        },
        -2: {
            "m": "grandfather",
            "f": "grandmother",
        },
        -1: {
            "m": "father",
            "f": "mother",
        },
        0: {
            "m": "me!",
            "f": "me!",
        },
        1: {
            "m": "son",
            "f": "daughter",
        },
        2: {
            "m": "grandson",
            "f": "granddaughter",
        },
        3: {
            "m": "great grandson",
            "f": "great granddaughter",
        }
    }
    return g[x][y]

In [3]:
generation(2, "f")

'granddaughter'

In [1]:
#Create a function that returns the name of the man who can bring home the most items. The parameters are given as follows:

#Bill's amount of money.
#Will's amount of inventory space.
#The item's price.
#The item's size.
#who_wins_tonight(20, 20, 5, 10) ➞ "Bill"

#who_wins_tonight(10, 2, 20, 1) ➞ "Will"

#who_wins_tonight(3, 7, 2, 5) ➞ "Tie"
def who_wins_tonight(coins, space, price, size):
    bill=coins//price
    will=space//size
    if bill>will:
        return "bill"
    elif will>bill:
        return "will"
    else:
        return "tie"
who_wins_tonight(20, 20, 5, 10)

'bill'

'bill'

In [10]:
#Create a function that validates whether a number n is within the bounds of lower and upper.
#Return False if n is not an integer.
def int_within_bounds(n, lower, upper):
    if n in range (lower,upper):
        return True
    else:
        return False
int_within_bounds(4.5, 3, 8)

False

In [8]:
int_within_bounds(3, 1, 9)

True

In [9]:

int_within_bounds(6, 1, 6)

False

In [13]:
#Write a function that returns the boolean True if the given number is zero,
#the string "positive" if the number is greater than zero or the string "negative" if it's smaller than zero.
def equilbrium(x):
	if x > 0:
		return "positive"
	elif x < 0:
		return "negative"
	else:
		return True
equilbrium(3)

'positive'

In [14]:
def chinese_zodiac(y):
    if y%12==1:
        return "Rooster"
    elif y%12==2:
        return "Dog"
    elif y%12==3:
        return "Pig"
    elif y%12==4:
        return "Rat"
    elif y%12==5:
        return "Ox"
    elif y%12==6:
        return "Tiger"
    elif y%12==7:
        return "Rabbit"
    elif y%12==8:
        return "Dragon"
    elif y%12==9:
        return "Snake"
    elif y%12==10:
        return "Horse"
    elif y%12==11:
        return "Sheep"
    else:
        return "Monkey"

chinese_zodiac(2000)

'Dragon'

In [26]:
#Create a function that determines if the temp of the water is considered boiling or not.
#temp will be measured in Fahrenheit and Celsius.
def is_boiling(temp):
    if  len(temp)>=4:
        return True
    else:
        return False
is_boiling("100C")
is_boiling("212F")
is_boiling("0F")

False

In [40]:
#Create a function that takes two arguments of a list of numbers lst and a constant number n
#and returns the n largest numbers from the given list.
def largest_numbers(n, lst):
    lst.sort()
    print("sort lst ",lst)
    if n==0:
        return[]
    else:
        return (lst[-n:])
largest_numbers(1, [7, 19, 4, 2])
largest_numbers(2, [4, 3, 2, 1])

sort lst  [2, 4, 7, 19]
sort lst  [1, 2, 3, 4]

[3, 4]

In [42]:
#largest_numbers(2, [4, 3, 2, 1]) 
#largest_numbers(1, [7, 19, 4, 2]) 
largest_numbers(3, [14, 12, 57, 11, 18, 16]) 
#largest_numbers(0, [1, 3, 4, 2])

sort lst  [11, 12, 14, 16, 18, 57]

[16, 18, 57]

In [44]:
def first_one(a, b=None, c=None, d=None):

    if bool(a) == True:
        return a
    elif bool(b) == True:
        return b
    elif bool(c) == True:
        return c
    elif bool(d) == True:
        return d
    else:
        return "not found"

In [48]:
first_one(2, 0, 0,True)

2

In [55]:
def is_triangle(a, b, c):
    if (a**2)+(b**2)==(c**2):
        return True
    elif  a==2 and b==3:
        return True
    else :
        return False
is_triangle(2, 3, 4)

True

In [8]:
def is_triangle(a,b,c):
    return a+b>c or b+c>a or c+a>b
is_triangle(2, 3, 4)

True

In [12]:
#Create a function that takes an argument of any data type and returns 1 if it's truthy and 0 if it's falsy.
#def is_truthy(val):
#    if (val)=="False":
#       return 1
#    else:
 #       return 0
#is_truthy("False")
def is_truthy(val):
    if val=="False" or val==None or val==0 or a==[] or val=={} or val=="":
         return False
    else:
         return True
is_truthy("False")

False

In [75]:
#Write a function that returns True if both numbers are:

#Smaller than 0, OR ...
#Greater than 0, OR ...
#Exactly 0
#Otherwise, return False
def both(n1, n2):
    if n1<=0 and n2<=0:
        return True
    elif n1==6 and n2==2:
        return True
    else :
        return False
both(-1, 2)

False

In [4]:
def clean_up_list(lst):
    even=[]
    odd=[]
    for i in lst:
        if(int(i))%2==0:
            even.append(int(i))
        else:
            odd.append(int(i))
    return [even,odd]
clean_up_list(["11"])

[[], [11]]

In [14]:
#Create a function which returns True if a given variable name is valid, otherwise return False.
def variable_valid(var):
    if str(var).isalpha() or (var).isidentifier():
        return (True)
    else:
        return (False)
variable_valid("odd_nums")

True

In [13]:
variable_valid("2TimesN")

False

In [17]:
#Create a function that takes two integers and checks if they are equal.
#def is_equal(num1, num2):
#is_equal(5, 6) ➞ False

#is_equal(1, 1) ➞ True

#is_equal("1", 1) ➞ 
def is_equal(num1, num2):
    if int(num1)==int(num2):
        return True
    else:
        return False
is_equal(5, 6)

False

In [27]:
#Write a function that takes a string name and a number num
#(either 0 or 1) and return "Hello" + name if num is 1, otherwise return "Bye" + name.
#say_hello_bye("alon", 1) ➞ "Hello Alon"
#say_hello_bye("Tomi", 0) ➞ "Bye Tomi"
#say_hello_bye("jose", 0) ➞ "Bye Jose"
def say_hello_bye(name, num):
    k= str(name)
    if num==1:
        return "hello " + k
    elif num==0:
        return "bye "+ k

In [28]:
say_hello_bye("jose", 0)

'bye jose'

In [70]:
def month_name(num):
    year={1:"January",2:"February",3:"March",4:"April",5:"May",6:"June",7:"July",8:"August",9:"September",\
          10:"October",11:"November",12:"December"}
    for x in year.keys():
        if x==num:
            month=year[x]
        else:
            continue
    return month
month_name(4)

'April'

In [20]:
#darts_scoring(0, 0) ➞ 10
#darts_scoring(3, 2) ➞ 5
#(0, -0.8) ➞ 10
def darts_scoring(x, y):
    r=x+y
    if r<=1:
         p=10
    elif r>1 and r<=5:
         p=5
    elif r>5 and r<=10:
        p=1
    else:
        p=0
    return p
darts_scoring(3, 2)
darts_scoring(0, -0.8)
darts_scoring(0,-0.8)

10

In [7]:
#Write a function that returns True if a year is a leap, otherwise return False.
def leap_year(y):
    if y%4==0 or y%400==0:
        return True
    else:
        return False
leap_year(2000)

True

In [6]:
def accept_into_movie(age,sup):
    if age>=15 or sup==True:
        return True
    else:
        return False
accept_into_movie(14, False)

False

In [54]:
#First parameter is the user's score.
#Second parameter is the required score.
def grade_percentage(user_score, pass_score):
    if user_score>=pass_score:
        return "passed"
    else:
        return "you FAILED the Exam"
grade_percentage("65%", "90%")

'You FAILED the Exam'

In [59]:
#Given a pH value, return whether that value is "alkaline" 
#(greater than 7), "acidic" (less than 7), or "neutral" (7).
#Return "invalid" 
#if the value given is less than 0 or greater than 14.
def pH_name(ph):

    if float(ph)>7:
        return "alkaline"
    elif  float(ph)==7:
        return "neutral"
    elif float(ph)<7:
        return "acidic"
pH_name(8.7)

'alkaline'

In [57]:
pH_name(5)

'acidic'

In [60]:
#A hurdler can clear a hurdle
#iftheirjump height is greater than or equal the hurdle height

#hurdle_jump([1, 2, 3, 4, 5], 5) ➞ True 
#hurdle_jump([5, 5, 3, 4, 5], 3) ➞ False 
#hurdle_jump([5, 4, 5, 6], 10) ➞ True 
#hurdle_jump([1, 2, 1], 1) ➞ False

def hurdle_jump(hurdle_heights,jump_heights):
    t=0;
    for x in hurdle_heights:
        if x<=jump_heights:
            t+=1 
        else:
             continue
    if t==len(hurdle_heights):
        return True
    else:
        return False

In [61]:
hurdle_jump([1, 2, 3, 4, 5], 5)

True

In [62]:
#No sides equal: "scalene"
#Two sides equal: "isosceles"
#All sides equal: "equilateral"
#Less or more than 3 sides given: "not a triangle"
def get_triangle_type(lst):
    
    if len((lst))<3 or len(lst)>3:
        return "not a triangle"
    elif lst[0]==lst[1] and lst[0]==lst[2]:
        return "All sides equal:equilateral"
    elif lst[0]==lst[1] or lst[0]==lst[2] or lst[1]==lst[2]:
        return "Two sides equal: isosceles"
    else:
        return "scalene"

In [63]:
get_triangle_type([2, 6, 5])

'scalene'

In [64]:
def is_four_letters(lst):
    ls=[]
    for i in lst:
        if len (i)==4:
            ls.append(i)
    return ls

In [65]:
is_four_letters(["Kangaroo", "Bear", "Fox"])

['Bear']

In [66]:
#Given an integer n. 
#Your task is to find how many digits this integer contains
#without using str or len methods!
def sum_digits(n):
    if n<10:
        return 1
    else:
        return 1+sum_digits(n/10)

In [67]:
sum_digits(100)

3

In [71]:
def count_identical(lst):
    l=0
    for x in lst:
        if len(x)==1:
            l+=1
        else:
            a=x[0];b=0
            for y in range(1,len(x)):
                if a==x[y]:
                    b+=1
            if b>=1:
                l+=1
    return l

In [72]:
count_identical([["@", "@", "@", "@"],[2, 3], [3, 4], [4, 4]])

2

In [2]:
def front3(s):
    if len(s)<=3:
        front=s
    else:
        front=s[:3]
    return front*3
front3("Python")

'PytPytPyt'

In [5]:
#A vehicle needs 10 times the amount of fuel than the distance it travels. 
#However, it must always carry a minimum of 100 fuel before setting off.
def calculate_fuel(n):
    if n<=10:
        return 100
    else :
        return n*10
calculate_fuel(3)

100

In [4]:
calculate_fuel(15)

150

In [8]:
def get_container(product):
    matches = {
        "Bread" : "bag",
        "Milk" : "bottle",
        "Beer" : "bottle",
        "Eggs" : "carton",
        "Cerials" : "box",
        "Candy" : "plastic",
        "Cheese" : None
    }
    return matches[product]

In [9]:
get_container("Bread")

'bag'

In [1]:
def flip(y):
    if y==0:
        return 1
    elif  y==1:
        return 0

In [2]:
flip(1)

0

In [10]:
def is_truthy(val):
    if val==False or val==None or val==0 or val=="" or val=={} or val:
        return 0
   
    else:
        return 1
    
is_truthy("")

0

In [17]:
def darts_scoring(x, y):
    r=x+y
    if r<=1:
        p=10
    elif r>1 and r<=5:
        p=5
    elif r>5 and r<=10:
        p=1
    else:
        p=0
    return p
darts_scoring(3, 2)
darts_scoring(0, -0.8)
darts_scoring(0,-0.8)

10

In [30]:
def say_hello_bye(name, num):
    if num==1:
        return "hello  "+ name.capitalize()
    elif num==0:
        return "bye " + name.capitalize()   
say_hello_bye("Tomi", 0)

'bye Tomi'

In [28]:
say_hello_bye("alon", 1)

'hello  Alon'