##### step 1. load the iris.csv dataset.

##### 1. Write a Pandas program to get the data types of the given csv data (iris.csv ) fields

In [ ]:
### code here

##### 2. Write a Pandas program to find the sum, mean, max, min value of 'SepalLengthCm' column of dataframe

In [ ]:
### code here

##### 3. Write a Pandas program to import iris data and skipping first twenty rows into a Pandas dataframe.

In [ ]:
### code here

##### 4. Write a Pandas program to display the last ten rows.

In [ ]:
### code here

##### 5. Write a Pandas program to create a subtotal of "PetalLengthCm" against Species from the dataframe.

In [ ]:
### code here

###### 6. Write a Pandas program to find details where "PetalLengthCm" > 2.

In [ ]:
### code here

###### 7. Write a Pandas program find all records that include two specific Species.

In [ ]:
### code here

###### 8.  Write a Pandas program to sort the records by the SepalLengthCm column.

In [ ]:
### code here

##### 9. Write a Pandas program to insert a column in the sixth position of dataframe and fill it with NaN values.

In [ ]:
### code here

##### 10. Write a Pandas program to add summation to a row of the dataframe.

In [ ]:
### code here