In [2]:
for row in range (1,6):
    for col in range(1,row+1):
        print(row ,end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [3]:
for row in range (1,6):
    for col in range (1,row+1):
        print(col,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [4]:
for row in range (1,6):
    for col in range (7-row-1):
        print(row,end=' ')
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [5]:
for row in range(5):
    print('5' ' '*(5-row))

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [6]:
for row in range (5):
    for col in range(7-row-1):
        print(col,end=' ')
        
    print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [15]:
n=int(input())
for i in range (n):
    for j in range(i,0,-1):
        print(j,end=' ')
    print()

5

1
2 1
3 2 1
4 3 2 1

In [5]:
n=int(input ())
for i in range (n):
    print((str(n-i)+' ')*(n-i))

5
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [11]:
n=int(input ())
for i in range (n):
    print((' '*(n-i-1)),end=' ')
    for j in range (i+1):
        print((j+1),end=' ')
    
    print()

5
     1
    1 2
   1 2 3
  1 2 3 4
 1 2 3 4 5

In [12]:
n=int(input())
for i in range (n):
    for j in range (i+1):
        print('*',end=' ')
    print()

5
*
* *
* * *
* * * *
* * * * *

In [19]:
n=int(input ())
for i in range (n):
    print(' '*(n-i-1),end='')
    for j in range (i+1):
        print('*',end=' ')
    print()

10
         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *

In [8]:
n=int(input ())
for i in range (n):
    print(' '*(n-i-1)+'* '*(i+1))
for  i in range (n-1):
        print(' '*(i+1)+'* '*(n-i-1))

4
   *
  * *
 * * *
* * * *
 * * *
  * *
   *

In [11]:
n=int(input ())
for i in range (n):
    print(' '*(n-i-1)+'*'*(i+1))

5
    *
   **
  ***
 ****
*****

In [13]:
n=int(input ())
for  i in range (n-1):
        print(' '*(i+1)+'*'*(n-i-1))

5
 ****
  ***
   **
    *

In [17]:
n=int(input())
for i in range (n):
    for j in range (i+1):
        print('*',end=' ')
    print()
for i in range (n-1):
    for j in range (n-i-1):
        print('*',end=' ')
    print()

5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [18]:
n=int(input())
for i in range (n):
    print(' '*(n-i-1)+'*'*(i+1))
for  i in range (n-1):
        print(' '*(i+1)+'*'*(n-i-1))

4
   *
  **
 ***
****
 ***
  **
   *

In [24]:
n=int(input ())
for i in range (n):
    print(' '* i+' * '*(n-i))
for i in range (n):
    print(' '*(n-i-1)+' * '*(i+1))

4
 *  *  *  *
  *  *  *
   *  *
    *
    *
   *  *
  *  *  *
 *  *  *  *

In [27]:
n=int (input ())
for i in range (n):
    for j in range (n-i):
        print(n-j,end=' ')
    print()

4
4 3 2 1
4 3 2
4 3
4

In [16]:
n=int(input())
for i in range (n,0,-1):
    for j in range (i,0,-1):
        print(j,end=' ')
    print()

5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [1]:
n = 5
for i in range(n):
    for j in range(n):
        if i>=j:
            print(i+1,end = '')
        else:
            print(j+1,end = '')
        
    print()

12345
22345
33345
44445
55555

In [2]:
n =5
for i in range(1,n+1):
    for j in range(i):
        print((j+1)*i,end = ' ')
        
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25